Access More USGS data for this watershed from {{#hu_list}}<span class="hide_span" id="{{wb_id}}"><a href="http://waterdata.usgs.gov/nwis/nwisman/?site_no={{nwis_id}}" target="_blank">NWIS-Web</a></span>{{/hu_list}}
Impervious Surface from 2011 National Landcover Dataset: {{#hu_list}}<span class="hide_span" id="{{wb_id}}">{{TOT_IMPV11}}</span>{{/hu_list}}
Population Density People per Square km: {{#hu_list}}<span class="hide_span" id="{{wb_id}}">{{TOT_POPDENS10}}</span>{{/hu_list}}
Percent of watershed in errigated agriculture from 2012: {{#hu_list}}<span class="hide_span" id="{{wb_id}}">{{TOT_MIRAD_2012}}</span>{{/hu_list}}
Number of dams in 2013: {{#hu_list}}<span class="hide_span" id="{{wb_id}}">{{TOT_NDAMS_2013}}</span>{{/hu_list}}
Average stream slope: {{#hu_list}}<span class="hide_span" id="{{wb_id}}">{{TOT_STREAM_SLOPE}}</span>{{/hu_list}}
Freshwater Withdrawals in megaliters per year per km: {{#hu_list}}<span class="hide_span" id="{{wb_id}}">{{TOT_FRESHWATER_WD}}</span>{{/hu_list}}