<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="{{viewbox}}" preserveAspectRatio="xMidYMid meet" version="1.1" id="{{top_id}}">
  <title>{{title}}</title>
  <desc>{{alttext}}</desc>
  {{#barcharts}}
<g id="{{hu_id}}" class="{{starting_class}}">
<g><text x='{{title_x}}' y='{{title_y}}' class="wb-plot-title" lengthAdjust='spacingAndGlyphs' text-anchor="start">{{title}}</text></g>

<!-- Main rectangles -->
<rect x='{{p_rect_x}}' y='{{p_rect_y}}' width='{{rect_w}}' height='{{p_rect_h}}' class='precip-bar'/>
<rect x='{{u_rect_x}}' y='{{u_rect_y}}' width='{{rect_w}}' height='{{u_rect_h}}' class='unknown-bar'/>
<rect x='{{eq_rect_x}}' y='{{q_rect_y}}' width='{{rect_w}}' height='{{q_rect_h}}' class='streamflow-bar'/>
<rect x='{{eq_rect_x}}' y='{{e_rect_y}}' width='{{rect_w}}' height='{{e_rect_h}}' class='evapotranspiration-bar'/>

<rect x='{{max_rect_x}}' y='{{max_rect_y}}' width='2' height='{{max_rect_h}}' class='y-axis'/>

<!-- y axis text -->
<g><text x='{{y_tick_text_x}}' y='{{bottom_tick_text_y}}' class="axis-label" lengthAdjust='spacingAndGlyphs' text-anchor="end" alignment-baseline="middle">{{bottom_tick}}</text></g>
<g><text x='{{y_tick_text_x}}' y='{{top_tick_text_y}}' class="axis-label" lengthAdjust='spacingAndGlyphs' text-anchor="end" alignment-baseline="middle">{{top_tick}}</text></g>

<!-- y axis ticks -->
<polyline points='{{tick_x1}},{{bottom_tick_y}} {{tick_x2}},{{bottom_tick_y}} ' class='axis-tick' alignment-baseline="middle"/>
<polyline points='{{tick_x1}},{{top_tick_y}} {{tick_x2}},{{top_tick_y}} ' class='axis-tick' alignment-baseline="middle"/>

<!-- x axis text  -->
<g><text x='{{in_x}}' y='{{in_y}}' class="axis-label" lengthAdjust='spacingAndGlyphs' text-anchor="middle">In</text></g>
<g><text x='{{out_x}}' y='{{out_y}}' class="axis-label" lengthAdjust='spacingAndGlyphs' text-anchor="middle">Out</text></g>
<g><text transform='translate({{y_units_x}},{{y_units_y}}) rotate(-90)' class="axis-units-label" lengthAdjust='spacingAndGlyphs' text-anchor="middle">inches</text></g>

<!-- legend rectangles -->
<rect x='{{legend_boxes_x}}' y='{{legend_p_y}}' width='{{legend_box_size}}' height='{{legend_box_size}}' class='precip-bar' />
<rect x='{{legend_boxes_x}}' y='{{legend_e_y}}' width='{{legend_box_size}}' height='{{legend_box_size}}' class='evapotranspiration-bar' />
<rect x='{{legend_boxes_x}}' y='{{legend_q_y}}' width='{{legend_box_size}}' height='{{legend_box_size}}' class='streamflow-bar' />
<rect x='{{legend_boxes_x}}' y='{{legend_u_y}}' width='{{legend_box_size}}' height='{{legend_box_size}}' class='unknown-bar' />

<!-- legend text -->
<g><text x='{{legend_title_x}}' y='{{legend_title_y}}' class='legend-text' lengthAdjust='spacingAndGlyphs'>Component</text></g>
<g><text x='{{legend_text_x}}' y='{{legend_text_p_y}}' class='legend-text' lengthAdjust='spacingAndGlyphs'>Precipitation</text></g>
<g><text x='{{legend_text_x}}' y='{{legend_text_e_y}}' class='legend-text' lengthAdjust='spacingAndGlyphs'>Evapotranspiration</text></g>
<g><text x='{{legend_text_x}}' y='{{legend_text_q_y}}' class='legend-text' lengthAdjust='spacingAndGlyphs'>Streamflow</text></g>
<g><text x='{{legend_text_x}}' y='{{legend_text_u_y}}' class='legend-text' lengthAdjust='spacingAndGlyphs'>Unknown</text></g>
<g><text x='{{legend_text_x}}' y='{{legend_textn_p_y}}' class='legend-text' lengthAdjust='spacingAndGlyphs'>{{legend_p_val}} in/yr</text></g>
<g><text x='{{legend_text_x}}' y='{{legend_textn_e_y}}' class='legend-text' lengthAdjust='spacingAndGlyphs'>{{legend_e_val}} in/yr</text></g>
<g><text x='{{legend_text_x}}' y='{{legend_textn_q_y}}' class='legend-text' lengthAdjust='spacingAndGlyphs'>{{legend_q_val}} in/yr</text></g>
<g><text x='{{legend_text_x}}' y='{{legend_textn_u_y}}' class='legend-text' lengthAdjust='spacingAndGlyphs'>{{legend_u_val}} in/yr</text></g>
</g>
{{/barcharts}}
</svg>