<div id="vizContainer">
  <div class="intro">
    {{#data}}
      {{{.}}}
    {{/data}}
  </div>
  <div id="figureContent">
    <div class="leftSideContent">
      <div id="{{id}}" class="map">
        <figure>
          {{{figure}}}
        </figure>
      </div>
    </div>
    <div class="rightSideContent hide_span" id="barChart">
      {{{barchart}}}
    </div>
    <div class="rightSideContent hide_span" id="characteristicsHolder">
      <div id="characteristics" class="hide_span">
        {{#chars}}
          {{{.}}}
        {{/chars}}
      </div>
    </div>
    <div class="leftSideContent" id="caption">
      {{#caption}}
        {{{.}}}
      {{/caption}}
    </div>
  </div>
</div>