<div id="{{id}}" class="responsiveGrid">
  <figure>
    {{{figure}}}
  </figure>
</div>
<div id="infoBlock" class="responsiveGrid">
  <div id="barchart" class="barchartDiv">
    {{{barchart}}}
  </div>
  <div id="characteristics" class="charDiv">
    test test test
  </div>
</div>
<div id="caption" class="responsiveGrid">
  {{#caption}}
    {{{.}}}
  {{/caption}}
</div>