<div class="socialHolder">
  <div class="socialMediaOption" id="twitter">
    <div class="socialMediaImage">
      {{{twitterLogo}}}
    </div>
  </div>
  <div class="socialMediaOption" id="facebook">
    <div class="socialMediaImage">
      {{{facebookLogo}}}
    </div>
  </div>
</div>