<div class="verticalSocialHolder">
  <div class="socialMediaOption" id="twitter">
    <div class="socialMediaImage">
      <a href="#" target="_blank">
        <img src="images/twitter.svg"/>
      </a>
    </div>
  </div>
  <div class="socialMediaOption" id="facebook">
    <div class="socialMediaImage">
      <a href="#" target="_blank">
        <img src="images/facebook.svg"/>
      </a>
    </div>
  </div>
</div>